<br/>
<button type="button" class="btn-logout" mat-button (click)="logout()" >Logout</button>
<br/><br/>
<div style="margin: 50px;">
  <mat-progress-bar *ngIf="(isLoaded$ | async) === false" mode="indeterminate"></mat-progress-bar>
  <table
    mat-table
    [dataSource]="(users$ | async)"
    class="w-p-100 post-table-block"
  >
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">
        {{ element.id }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
    <ng-container matColumnDef="Location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let element">
        {{ element.location }}
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="total$ | async"
    [pageSize]="10"
    [pageIndex]="page - 1"
    (page)="next($event)"
    aria-label="Select page"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
