


@font-face {
    font-family: "MuseoSans-500";
    src: url(../../../libs/shared/assets/fonts/MuseoSans_500.otf) format("opentype");
}

@font-face {
    font-family: "MuseoSans-700";
    src: url(../../../libs/shared/assets/fonts/MuseoSans_700.otf) format("opentype");
}

@font-face {
    font-family: "MuseoSans-900";
    src: url(../../../libs/shared/assets/fonts/MuseoSans_900.otf) format("opentype");
}

@font-face {
    font-family: "MuseoSans-100";
    src: url(../../../libs/shared/assets/fonts/MuseoSans-100.otf) format("opentype");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(../../../libs/shared/assets/fonts/Roboto-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(../../../libs/shared/assets/fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto-Medium";
    src: url(../../../libs/shared/assets/fonts/Roboto-Medium.ttf) format("truetype");
}